<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Microservices Tools</title>
    <link rel="stylesheet" href="/pub/css/main.css">
</head>
<body>
    <section>
        <h1>Test Message Registration</h1>

        <form method="POST" action="/checkMessageRegistration">
            <div>
                <label for="message">Message to examine:</label>
                <input name="message" type="text" placeholder="Enter message json..." />
            </div>
            <button type="submit" value="Check message">Check message</button>
        </form>
        
    </section>
    <section>
        <h1>Send message</h1>
    </section>
</body>
</html>